
{{>nav}}

<main>
    {{#if products}}

    {{#each products}}
<div class="card" style="width: 18rem; margin: 10px">
    <img class="card-img-top" alt="{{this.title}}" src="{{this.thumbnail}}"/>
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">$ {{this.price}}</p>
      <a href="/api/products/{{this.id}}" class="btn btn-primary">
        Ver producto</a>
    </div>
</div>
{{/each}}
{{else}}
<h1> There are no products here </h1>
{{/if}}
</main>
