<%- include('layouts/layout.ejs') -%> <%- include('includes/nav.ejs') -%>

<main>
  <% if (products) { %> <% products.forEach(i=>{ %>
  <div class="card" style="width: 18rem; margin: 10px">
    <img src="<%=i.thumbnail%>" class="card-img-top" alt="<%=i.title%>" />
    <div class="card-body">
      <h5 class="card-title"><%=i.title%></h5>
      <p class="card-text">$ <%=i.price%></p>
      <a href="/api/products/<%=i.id%>" class="btn btn-primary">
        Ver producto</a
      >
    </div>
  </div>
  <% }); %> <% } else { %>
  <h1>There are no products here</h1>
  <% } %>
</main>
